/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
html, body {
  width: 100%;
  font-size: 26px;
  line-height: 1.5em;
}

/* line 19, ../sass/screen.scss */
.content {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-family: "omnes-pro", sans-serif;
}

/* line 25, ../sass/screen.scss */
h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 2em;
}

/* line 31, ../sass/screen.scss */
ul {
  list-style-type: none;
}

/* line 35, ../sass/screen.scss */
li {
  width: 50%;
  float: left;
  padding: 15px 0;
  text-align: center;
}

/* line 42, ../sass/screen.scss */
.count-1 li {
  width: 100%;
}

/* line 48, ../sass/screen.scss */
p {
  padding: 0 10px;
}
/* line 50, ../sass/screen.scss */
p.name {
  font-size: 1.5em;
  font-weight: 500;
}
/* line 54, ../sass/screen.scss */
p.until {
  font-weight: 300;
  font-size: .5em;
  color: gray;
}

/* line 61, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 65, ../sass/screen.scss */
a:hover {
  color: gray;
}

@media screen and (max-width: 1200px) {
  /* line 71, ../sass/screen.scss */
  p.name {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  /* line 77, ../sass/screen.scss */
  p.name {
    font-size: .6em;
  }

  /* line 80, ../sass/screen.scss */
  p.until {
    font-size: .4em;
  }
}
@media screen and (max-width: 480px) {
  /* line 86, ../sass/screen.scss */
  li {
    float: none;
    display: block;
    width: 100%;
    font-size: 1.5em;
  }
}
